body {
    /*background-color: #53669f;*/
    color: white;
    font-size: 1.5rem;
    background-image: url("bg-1.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    background-color: rgb(3, 3, 3, 0.5);
    min-height: 100%;
    min-width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 0;
}

.lead {
    font-size: 2rem;
}

ul {
    list-style: none;
    margin-top: 2rem;
    border-top: 2px solid white;
    overflow: auto;
    max-height: 340px;
}

li {
    border-bottom: 1px solid white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

input[type=checkbox] {
    float: right;
    height: 20px;
    widows: 20px;
    border: 1px solid white;
}

.btn-filter {
    margin: 4.76px;
}